<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Aihm1/src/edu/usc/cs561/ReadFileByBite.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.cs561.ReadFileByBite"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aihm1"/>
</launchConfiguration>
